/* --------------------------------------------------------------
 /* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
 -------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
 /* WordPress Core
 -------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
 /* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
 -------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;
@red: #95110E;

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* Theme commons
 -------------------------------------------------------------- */
@import 'less/layouts.less';

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    background: #F4F4F4;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

/* HEADER */
.pre-header {
    background: @black;
    color: @white;
    padding: 5px 0;
}

.header-menu-container {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    & li {
        display: inline-block;
        padding: 0 10px;

        & a { color: @white; }
    }
}

.header-social {
    text-align: right;
    font-size: 18px;

    & .fa { padding: 0 5px; }
}

.header-info {
    font-size: 15px;

    & span:nth-child(2) { float: right; }
}

.the-header {
    background: #1F191B;

    & .img-logo {
        height: 120px;
        max-width: 100%;
    }
}

.the-navbar {
    & div { display: inline-block; }

    & .red-dot {
        background: red;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin-right: 5px;
    }

    & .header-nav-menu {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: inline-block;

        & li {
            display: inline-block;
            margin-right: 20px;

            & a {
                color: #FFF;
                display: block;
                font-weight: 600;
                padding: 8px 3px;
                padding-top: 5px;
                text-transform: uppercase;
            }
        }

        & .current-menu-item { border-bottom: 5px solid #95110E; }
    }
}

/* FOOTER */
.the-footer {
    background: #0C1E2A;
    color: #FFF;
}

.footer-copy { background: black; }

.footer-item {
    margin: 10px 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;

    & li { list-style: none; }

    & h2 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
    }

    & .newsletter-email {
        width: 100%;
        color: #000;
        border: 0;
        padding: 5px;
        font-size: 15px;
    }

    & .newsletter-submit {
        font-size: 15px;
        color: #FFF;
        font-weight: 600;
        background: none;
        border: 3px solid white;
        padding: 5px 10px;
    }

    & h4 {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 5px;
        font-weight: 600;
        margin-top: 5px;
    }
}

.footer-copy {
    background: black;
    padding: 5px 0;

    & h4 {
        font-size: 15px;
        font-weight: 300;
    }

    & h5 {
        float: right;
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
    }
}

/* BREAKING NEWS - SLIDER HOME */
.breaking-news-container {
    padding: 20px 0;

    & h3 {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -.5px;
        min-height: 20px;
        margin: 0;
        margin-top: 2px;
    }

    & a { color: black; }

    & .breaking-label {
        background: #1F191B;
        color: #FFF;
        padding: 5px 10px;
        font-weight: 600;
    }

    & .fa {
        cursor: pointer;
        margin-top: -5px;
        border: 1px solid black;
        padding: 5px 7px;
        margin-left: 10px;
    }
}

/* FEATURED NEWS CONTAINER */
.featured-news-container {
    max-height: 470px;
    overflow: hidden;
}

.featured-item {
    position: relative;
    min-height: 173px;
}

.featured-item-mask {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);

    & h2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
        line-height: 25px;
        color: #FFF;
        letter-spacing: -0.5px;
        text-shadow: 1px 1px 6px black;
        position: absolute;
        bottom: 10px;
        width: 90%;
    }

    & .featured-news-category {
        position: absolute;
        bottom: 17%;
        background: @red;
        padding: 4px 10px;
        font-size: 14px;
        font-weight: 600;

        & a { color: #FFF; }
    }
}

.featured-item-tall {
    border-right: 4px solid white;
    min-height: 467px;
}

.featured-item-wide {
    border-bottom: 4px solid white;
    min-height: 294px;

    & .featured-news-category {
        position: absolute;
        bottom: 25%;
    }
}

.featured-item-small {
    & h2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
        line-height: 25px;
        color: #FFF;
        letter-spacing: -0.5px;
        text-shadow: 1px 1px 6px black;
        position: absolute;
        bottom: 5px;
        width: 85%;
    }

    & .featured-news-category {
        position: absolute;
        bottom: 50%;
    }

    & img { height: 173px; }
}

.featured-item-small-4 { border-left: 4px solid white; }

/* ADS */
.ads-container {
    margin: 20px 0;

    & img { width: 100%; }
}

/* BLOCK SECTION */
.block-section-title { margin: 15px 0; }

.block-section-title-inner-html {
    padding: 0;
    border-bottom: 3px solid;

    & span:nth-child(1) {
        background: black;
        padding: 5px 10px;
        color: #FFF;
        float: left;
    }

    & span:nth-child(2) {
        background: black;
        padding: 5px 10px;
        color: #FFF;
        float: right;
    }

    & a { color: #FFF; }
}

.block-section-ads-container {
    margin-top: 15px;

    & .widget { list-style: none; }

    & .widgettitle {
        font-size: 23px;
        background: black;
        color: #FFF;
        padding: 10px;
        margin-top: 0;
    }

    & li.wppaszone:nth-child(1) { margin-bottom: 32px; }
}

.custom-widget-news-item {
    & h3 {
        font-size: 13px;
        margin-top: 3px;
        border-bottom: 1px solid black;
        padding-bottom: 6px;
        font-weight: 600;
        line-height: 20px;
    }

    & a { color: #000; }

    & .block-date {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 300;
        padding-left: 5px;
    }
}

.block-item {
    margin: 15px 0;
    min-height: 270px;

    & a { color: black; }

    & img {
        width: 100%;
        min-height: 240px;
    }

    & h3 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 10px;
        line-height: 25px;
        color: #FFF;
        letter-spacing: -.5px;
        text-shadow: 1px 1px 6px black;
    }

    & .block-category {
        color: #FFF;
        font-size: 13px;
        font-weight: 600;
        margin-right: 5px;
        position: absolute;
        top: 3px;
        left: 5px;

        & a {
            background: @red;
            padding: 3px 5px;
            color: #FFF;
            margin-right: 10px;
        }
    }

    & .block-date {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 0px;
        text-transform: uppercase;
        text-shadow: 1px 1px 6px black;
    }
}

.block-item-line {
    min-height: auto;
    margin: 15px 0px;

    & img {
        min-height: auto;
        width: 100% !important;
        max-height: 40px !important;
    }

    & .block-date {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 0px;
        text-transform: uppercase;
        text-shadow: none;
    }

    & .media-left { width: 15%; }

    & .media-body {
        width: 100% !important;
        border-bottom: 1px solid #d4d4d4;
    }

    & h4 {
        font-size: 15px;
        margin-top: 5px;
    }
}

.block-section-special-container { border-left: 1px solid #d2d2d2; }

.block-item-text {
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
}

.block-item-img { position: relative; }

.block-item-img-mask {
    position: absolute;
    bottom: 0;
    color: #FFF;
    left: 0;
    padding: 10px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 58%, rgba(0,0,0,0.85) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 58%,rgba(0,0,0,0.85) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 58%,rgba(0,0,0,0.85) 100%);
}

.block-small-item {
    min-height: 85px;

    & img {
        max-height: 95px;
        min-height: auto !important;
    }

    & h3 {
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 5px;
        letter-spacing: -1px;
        margin-top: -5px;
    }
}

.block-opinion-item {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    min-height: auto;

    & img {
        margin-top: 10px;
        min-height: auto !important;
    }

    & h4 {
        margin: 0;
        font-size: 16px;
        color: #999;
        font-weight: 600;
    }

    & h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 5px 0;
        color: #000;
    }
}

.block-item-inner-html {
    border-bottom: 2px solid #918f8f;
    margin-bottom: 20px;
}

/* SINGLE */
.single-main-container {
    padding: 20px 0;

    & h1 {
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 10px;
        border-left: 5px solid black;
        padding-left: 10px;
        letter-spacing: -.5px;
    }

    & .date-container {
        padding: 5px 0;
        border-bottom: 1px solid #bdbdbd;
        border-top: 1px solid #bdbdbd;
        margin-top: 15px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: -.5px;
    }

    & .post-content {
        font-size: 16px;
        line-height: 33px;

        & img:nth-child(1) { width: 100% !important; }
    }

    & .single-categories a {
        background: black;
        padding: 5px 10px;
        color: #FFF;
        font-size: 12px;
        margin-right: 5px;
        font-weight: 600;
        letter-spacing: -.5px;
    }
}

.the-sidebar {
    border-left: 1px solid #bdbdbd;

    & ul {
        padding: 0;
        list-style: none;

        & .widget {
            margin-bottom: 5px;

            & h2 {
                background: #1f191b;
                color: #FFF;
                font-size: 17px;
                letter-spacing: -.5px;
                padding: 5px 10px;
            }

            & ul {
                padding: 5px;

                & li { margin-bottom: 5px; }
            }
        }
    }

    & a { color: #1f191b; }
}

.the-breadcrumbs {
    background: #1f191b;
    padding: 6px;
    margin-top: 10px;
    color: #d9d9d9;

    & p { margin-bottom: 0; }

    & a { color: #FFF; }
}

.archive-main-container {
    & h1 {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: -0.8px;
        border-left: 4px solid #1f191b;
        padding-left: 6px;
        padding-bottom: 3px;
    }
}

.archive-item {
    font-size: 16px;
    text-align: justify;
    line-height: 30px;

    & .h2 {
        font-size: 20px;
        margin-top: 0;
        font-weight: 600;
        letter-spacing: -0.8px;
        color: #000;
        border-left: 4px solid #bd0505;
        padding-left: 6px;
    }

    & .date {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.5px;
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
    }

    & a {
        color: #1f191b;
        font-weight: 900;
        letter-spacing: -0.8px;

        & span { color: #bd0505; }
    }
}

.wp-caption {
    background-color: transparent !important;
    border: 0 !important;
    max-width: 100% !important;
    padding: 10px 0 !important;
    text-align: center;
}
